{% if value is not null %}
    <div class="text-center py-2 rounded {{ (value|cisse_color_picker_get_brightness == constant("Cisse\\ColorPickerBundle\\Twig\\Extension\\ColorExtension::BRIGHTNESS_DARK") ? 'text-white' : 'text-dark') }}" style="background-color: {{ value }} !important;">
        {{ value }}
    </div>
{% else %}
    <span class="label">{{ 'label.null'|trans(domain = 'EasyAdminBundle') }}</span>
{% endif %}
